.intro{
    display: flex;
    height: 90vh;
    padding-top: 12rem;
    padding: 0 2rem;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;    
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    padding-left: 5rem;
    
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    color: #000;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: #6667ab;
    font-weight: bolder;
    font-size: 4rem;
}
.i-name>:nth-child(3){
    color: grey;
    font-weight: 100;
    font-size: 1.2rem;
    margin-top: 10px;
}



/* right side styling */
.i-right {
    flex: 1;
    position: relative;
    /* padding-left: 1rem; */
  }
  .i-right > * {
    position: absolute;
    z-index: 1;
  }
  .i-right > :nth-child(1) {
    transform: scale(0.69);
    left: -5rem;
    top: -12rem;
  }
  .i-right > :nth-child(2) {
    top: -16rem;
    transform: scale(0.67);
    left: -3rem;
  }
  .i-right > :nth-child(3) {
    transform: scale(1);
    left: 5rem;
    top: -15rem;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
  .i-right > :nth-child(4) {
    transform: scale(0.62);
    top: -2%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
  }

  .i-right .boy{
    height: 700px;
    /* position: relative; */
    width: 100%;
    position: relative;
    left: -10%;
    top: 100%;
    
  }
  
  /* blur */
  /* .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: 8px;
    left: 56%;
    filter: blur(72px);
  }
   */
  @media screen and (max-width: 480px) {
    .intro {
      flex-direction: column;
      gap: 7rem;
      height: 64rem;
    }
  
    .i-right {
      transform: scale(0.8);
      left: -3rem;
    }

    .i-right img{
      height: 60vh;
    }
    .i-right .blur {
      display: none;
    }
    .floating-div:nth-of-type(1){
      /* display: none; */
      top: -7rem !important;;
    }
  }
  