.onboarding-card {
  position: relative;
  height: 100%;
  margin-bottom: 20px;
  width: 350px;
  cursor: pointer;
  padding: 1rem;
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.onboarding{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    /* padding: 5rem 0;     */

    
}

.onboarding .title{
    color: #fff;
}
.card-no h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  color: #000;
  position: relative;
}

.card-no::before {
  content: "";
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgba(253, 248, 0, 0.8);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 100%;
  background-position: top;
  align-items: center;
  justify-content: center;
  left: -10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.card-title {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  line-height: 32px;
  margin: 20px 0px;
  margin-top: 0;
  z-index: 99;
  width: 100%;
}

.onboarding-details {
  gap: 4rem;
}

.on-img {
  height: 40px;
  width: 40px;
  background: #f8f4f4;
  padding: 3px;
    border-radius: 100%;
}

.onboarding-card p{
    color: rgb(231, 227, 227)
}
