.client{
    padding: 100px 0;
    background: #f9f9f9;
}

.client .container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
   
}


.client .client-title{
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.client .client-title h2{
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0;
}

.client .client-title span{
   color: var(--main-color);
}

.client .client-title p{
    font-size: 18px;
    line-height: 28px;
    color: #000;
    text-transform: capitalize;
}

.client-testimonial{
    background-color: var(--main-color);
    padding: 3rem;
    margin: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.client-testimonial h3{
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
}

.client-testimonial p{
    color: #fff;
    font-size: 1rem;
}
.client-pic img{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    height: 3rem;
    width: 3rem;
    object-fit: contain;
}

.client-testimonial .icon{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.client-info {
    display: flex;
    justify-content: space-between;
    
    

}

.client-details{   
    color: white;
    font-size: 10px;
}