.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  font-weight: 500;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}

.nav-link {
  font-size: 1.3rem;
  color: #000;
}

.nav-link:hover {
  color: #6667ab;
}
.collapsed.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .button a {
  font-size: 1.3rem;
  font-weight: 600;
  color: #6667ab;
  cursor: pointer;
  text-decoration: none;
} */
.button {
  display: flex;
  align-items: center;  
  justify-content: center;
}

.sign-up {
  background-color: #6667ab;
  padding: 10px;
  width: 150px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.sign-up a{
  color: #fff;
  text-align: center;
}

.navbar .nav-items .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #6667ab;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.navbar .nav_img{
  height: 47px;
  width: 105px;
}
.navbar .nav-items .nav-link:hover::before {
  transform: scale(1) ;
  -webkit-transform: scale(1) ;
  -moz-transform: scale(1) ;
  -ms-transform: scale(1) ;
  -o-transform: scale(1) ;
}

