.footer {
  background-color: var(--main-color);
  padding: 50px 0 0;
}

.footer-col h3 {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 20px;
  text-transform: capitalize;
}

.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.footer-col ul {
  margin: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.footer ul {
  display: flex;
  flex-direction: column;
}
.footer-col ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  margin-left: -10.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.footer-col ul li a:hover {
  padding-left: 5px;
}

.footer-col ul li .links {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  cursor: pointer;
  margin-left: -10.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.footer-col ul li .links:hover {
  padding-left: 5px;
}

.footer .copyright-text {
  margin-top: 20px;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  text-align: center;
  color: beige;
}

.footer-brand {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}

.footer_img {
  height: 50px;
  width: 130px;
}
