.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container label{
    font-weight: 500;
    font-size: 1rem;
    color: #4b4b4b;
}

.container input{
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 1rem;
    color: #000;
}

.container input:hover{
    border-color: #ccc;
}

.container input:focus{
    outline: none;
    border-color: #9900ff;
}